@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');




      /* GENERAL */
* {
    box-sizing: border-box;
}
body{

    color: #393D41;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.65rem;
    width: 100%;
    height: 100%;
    text-align: center;
    
}

h1,h2{
    color: #25A2C3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


h1{
    line-height: 2.5rem;
    font-size: 2.85rem;
    padding-block: 10vh 5vh;
}

h2{
    line-height: 1.5rem;
    padding-block: 5vh 0vh ;
   
}

p{
    margin: 2vh 3vh;

}

button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #f04c2f;
    color: white;
    border-radius: 5px;
    border-style: hidden;
    padding: 12px 30px;         
}

        /* HEADER */

header{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: auto;
    height: 14vh;
    align-items: center;
}

#logo{
    width: 150px;
}


        /* MAIN */

#sec--register{
    background-image: url(../images/banner.jpg);
    background-size:cover;
    height:50vh; 
    align-items: center; 
}




#image--circle {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    display: inline-block;
    background-image: url(../images/notebook.jpg);
    background-size: cover;
    margin-block: 3vh   ;
}

section hr{
    opacity: 0%;
}

#sec--garanty{
    background-color: #f04c2f;
    height: 35vh;
    align-items: center;
    padding-top: 5%;
   
}


#sec--garanty *{

    color: white;
}

#sec--garanty h2{

    font-size: 150%;
    
}

q{
    font-style:italic;
}

address{
    margin-top: 2vh;
}

h3{ 
    font-size: 1.4rem;
}

.card{
    width: 80%;
    border-radius: 10px;
    border: solid 1px #dee1e3;
    display: inline-block;
    margin-block: 25px 10px;
    overflow: hidden;
}

main img{
    width: 100%;
    align-items: center;
    text-align: center;
}


    /* footer */


footer{
    background-color: #25a2c3;
    align-items: center;
    line-height: 1.7rem;
    margin-top: 5vh;
    height: 500px;  
}

footer *{
    color: white;
}

footer h2{
    
    font-size: 150%;
}



footer hr{
    border-top: 1px solid white;
    width: 60%;
}

#copy{
    font-size: small;
}
 
